.lost {
  max-height: 65vh;
}

.summonModal:hover {
  transform: scale(1.03);
  transition: .2s;
}

#channel-box {
  height: 100%;
}

.lang {
  width: 40px;
  cursor: pointer;
  margin-left: 20px;
}

.spinner-popup {
  left: 0;
  top: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 100;
  animation: appear ease-in 0.5s;
}

@keyframes appear {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

.spinner-popup .spinner-grow {
  transform: scale(1.5);
}

@media (max-width: 565px) {
  .auth__img {
    max-height: 18vh;
  }
  #messages-box {
    font-size: .95rem !important;
  }
  .channels-title {
    font-size: 1rem !important;
  }
  .channels-title + button img {
    transform: scale(.7);
  }
  .form-chat {
    width: 95vw;
    transform: translateX(-36%);
  }
  .dropdown-item {
    font-size: x-small;
  }
}

@media (max-width: 360px) {
  #channel-box button {
    font-size: .8rem;
  }
}
